# Ignore everything
*

# Allow folders (so .c files inside them aren't blocked)
!*/
  
# Allow only C files
!*.c
!*.cpp
# Allow this .gitignore file itself
#!.gitignore

# Explicitly ignore common build/output files
*.exe
*.o
*.bin
*.out

# Ignore unwanted folders
.cph/
.vscode/
__pycache__/
build/
dist/
